.layout-menu-yellow {
    --menu-bg: #F9A825;
    --root-menuitem-text-color: #212121;
    --menuitem-text-color: rgba(0,0,0,.7);
    --menuitem-hover-bg: rgba(0,0,0,.12);
    --active-menuitem-text-color: #212121;
    --active-menuitem-bg: rgba(0,0,0,.2);
    --inline-menu-border-color: rgba(0,0,0,.2);
}
